<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <properties resource="jdbc.properties" />
  
  <settings>
    <setting name="logImpl" value="STDOUT_LOGGING"/>
  </settings>
  
  <environments default="mycrm">
    
    <environment id="mycrm">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.mysql.driver}"/>
        <property name="url" value="${jdbc.mysql.url}"/>
        <property name="username" value="${jdbc.mysql.username}"/>
        <property name="password" value="${jdbc.mysql.password}"/>
      </dataSource>
    </environment>
  
  </environments>
  
  <mappers>
	  <package name="com.hzh.crm.settings.dao"/>
	  <package name="com.hzh.crm.workbench.dao"/>
  </mappers>
</configuration>